<header class="flex-col-sm-row text-center">
    <a href="./index.html">
        <picture>
            <source srcset="./assets/images/bass-guitar-right.png?as=webp&width=50" type="image/webp">
            <img src="./assets/images/bass-guitar-right.png?width=50" alt="Baix elèctric" class="inline-block">
        </picture>
    </a>
    <nav class="w-full small:w-auto">
        <ul class="flex-col-sm-row mb-4">
            <include src="./views/nav.html"></include>
        </ul>
    </nav>
</header>